.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    background-color:white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(228,228,2280);
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 2px;
    border:1px solid rgb(192,192,192);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.left-section {
    align-items: center;
    display: flex;
}

.right-section {
    width: 180px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload {
    height: 24px;
}

.youtube-app {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.notifications-icon-container{
    position:relative;
}

.notifications-count{
    position:absolute;
    top:-2px;
    right:-5px;
    background-color:rgb(200,0,0);
    color:white;
    font-family:Roboto,Arial;
    font-size:11px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:10px;

}

.current-use-picture {
    height: 32px;
    border-radius: 16px;
}

.middle-section {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.search-button {
    height: 39px;
    width: 66px;
    border-color: rgb(192, 192, 192);
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    margin-left: -1px;
    margin-right: 10px;
    border-radius: 2px;
    position:relative;
}

.search-button,.voice-button,.upload-icon-container,.youtube-app-container,.notifications-icon-container2{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}


.search-button .tooltip,.voice-button .tooltip,.upload-icon-container .tooltip
,.youtube-app-container .tooltip,.notifications-icon-container2 .tooltip{
    font-family:Roboto,Arial;
    position:absolute; 
    background-color:gray;
    color:white;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:8px;
    padding-left:6px;
    border-radius:2px;
    font-size:12px;
    bottom:-30px;
    opacity:0;
    transition: opacity 0.15s;
    pointer-events:none;
    white-space:nowrap;
}

.search-button:hover .tooltip,.voice-button:hover .tooltip,.upload-icon-container:hover .tooltip
,.youtube-app-container:hover .tooltip,.notifications-icon-container2:hover .tooltip{
    opacity:1;
}

.search-icon {
    height: 25px; 
}

.voice-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);

}
.voice {
    height: 24px;
    background-color: rgb(248, 248, 248);
}